/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body{
  background-color: #8b7e8d;
}

main{
  background-color: aquamarine;
}

h1{
  width: 100%;
  font-size: 250%;
  font-family: cursive;
  text-align: center;
  align-items: center;
  background-color: rgb(7, 144, 144);
  border: double 15px rgb(0, 0, 0);
  }
p{
text-indent: 50px;
font-size: larger;
font-family: cursive;
background-color: rgb(102, 205, 205);
border: dotted 2px rgb(52, 2, 62);
}

h2{
text-align: center;
font-size: 150%;
font-family: cursive;
font-weight: bolder;
background-color:rgb(7, 144, 144)
}

img{
  border: dotted 2px rgb(71, 10, 71);
}